body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: '#5e5e5e',
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Box{
  color:rgb(54, 50, 50);

}
.tiny{
  margin: 40px;
  height: 100%;
  border: 5px solid rgb(54, 50, 50);
  padding-left: 30px;
  /*background-color: darkgray;*/
  background-color:lightblue;
}

Link {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

